#composerGIF {
	height: 300px;
	width:	600px;
	border: 2px solid grey;
	box-shadow: 5px 5px 5px lightgrey; 

}


/**************************************************************/
/* Chord Composer Styling */
/**************************************************************/

.playerBorder {
	border: 2px solid darkgrey;
	border-radius: 5px;	
}


/* Glowing Boxes around Users New Chords */
/*-----------------------------------------------------------*/

.input-field {
	.newChordInput1, .newChordInput2, .newChordInput3, .newChordInput4 {
		border: 2px solid darkgrey;
		border-radius: 5px;
		box-shadow: none;
		background-color: none;
		text-align: center;
	}

	.glowBox {
		border: 2px solid yellow;
		box-shadow: 0 0 20px yellow;
		background-color: lightyellow;
	}
}

/* Saved Progressions */
/*-----------------------------------------------------------*/

.input-field {
	.savedProgressions {
		border: 1px solid lightgrey;
		border-radius: 5px;
		text-align: center;
		//margin-top: 5px;
	}
}

.savedProgressionBtns {
	padding-top: 4px;
}

/**************************************************************/
/* Improviser Styling */
/**************************************************************/

.improviserKeys {
	.btn {
		text-transform: none;
		box-shadow: 3px 3px 2px #888888;
	}
}

//------------------------------------------------------------//

.background-I {
	background-image: url("../images/improviserBackgrounds/multicolorPixelStatic.jpg");
	background-repeat: repeat-xy;
}

.key-I {
	background-color: #f50057;
}

.keyAlt-I {
	background-color: #c51162;
}

.keyboardKey-I {
	background-color: #880e4f;
}

.textColor-I {
	color: white;
}

.soundLibrary-I {
	background-color: white;
}

//------------------------------------------------------------//

.background-ii {
	background-image: url("../images/improviserBackgrounds/darkSwirls.jpg");
	background-repeat: repeat-xy;
}

.key-ii {
	background-color: #64ffda;
}

.keyAlt-ii {
	background-color: #00bfa5;
}

.keyboardKey-ii {
	background-color: #00695c;
}

.textColor-ii {
	color: #00bfa5;
}

.soundLibrary-ii {
	background-color: #00bfa5;
}

//------------------------------------------------------------//

.background-iii {
	background-image: url("../images/improviserBackgrounds/blueCubes.jpg");
	background-repeat: repeat-xy;
}

.key-iii {
	background-color: #ff9100 ;
}

.keyAlt-iii {
	background-color: #ff6d00;
}

.keyboardKey-iii {
	background-color: #e65100;
}

.textColor-iii {
	color: #ff6d00;
	text-shadow: 1px 1px lightgrey;
}

.soundLibrary-iii {
	background-color: #ff6d00;
}

//------------------------------------------------------------//

.background-IV {
	background-image: url("../images/improviserBackgrounds/redCubes.jpg");
	background-repeat: repeat-xy;
}

.key-IV {
	background-color: #4fc3f7 ;
}

.keyAlt-IV {
	background-color: #03a9f4;
}

.keyboardKey-IV {
	background-color: #0277bd;
}

.textColor-IV {
	color: #4fc3f7;
	text-shadow: 1px 1px lightgrey;
}

.soundLibrary-IV {
	background-color: #4fc3f7;
}

//------------------------------------------------------------//

.background-V {
	background-image: url("../images/improviserBackgrounds/greenZigZags.jpg");
	background-repeat: repeat-xy;
}

.key-V {
	background-color: #f50057;
}

.keyAlt-V {
	background-color: #c51162;
}

.keyboardKey-V {
	background-color: #880e4f;
}

.textColor-V {
	color: #f50057;
}

.soundLibrary-V {
	background-color: #f50057;
}

//------------------------------------------------------------//

.background-vi {
	background-image: url("../images/improviserBackgrounds/greyHexagons.jpg");
	background-repeat: repeat-xy;
}

.key-vi {
	background-color: #536dfe;
}

.keyAlt-vi {
	background-color: #304ffe;
}

.keyboardKey-vi {
	background-color: #283593;
}

.textColor-vi {
	color: #536dfe;
}

.soundLibrary-vi {
	background-color: #536dfe;
}

//------------------------------------------------------------//

.background-vii {
	background-image: url("../images/improviserBackgrounds/greenJaggedDiamonds.jpg");
	background-repeat: repeat-xy;
}

.key-vii {
	background-color: #ffeb3b;
}

.keyAlt-vii {
	background-color: #fdd835;
}

.keyboardKey-vii {
	background-color: #fbc02d;
}

.textColor-vii {
	color: #fdd835;
	text-shadow: 1px 1px lightgrey;
}

.soundLibrary-vii {
	background-color: #fdd835;
}

//------------------------------------------------------------//

/* Alternates */

//------------------------------------------------------------//

.background-i {
	background-image: url("../images/improviserBackgrounds/duskCircles.jpg");
	background-repeat: repeat-xy;
}

.key-i {
	background-color: #536dfe;
}

.keyAlt-i {
	background-color: #304ffe;
}

.keyboardKey-i {
	background-color: #283593;
}

.textColor-i {
	color: #304ffe;
}

.soundLibrary-i {
	background-color: #304ffe;
}

//------------------------------------------------------------//

.background-II {
	background-image: url("../images/improviserBackgrounds/orangeCircles.jpg");
	background-repeat: repeat-xy;
}

.key-II {
	background-color: #fdd835;
}

.keyAlt-II {
	background-color: #fbc02d;
}

.keyboardKey-II {
	background-color: #f9a825;
}

.textColor-II {
	color: #ffff8d;
	text-shadow: 1px 1px lightgrey;
}

.soundLibrary-II {
	background-color: #ffff8d;
}

//------------------------------------------------------------//

.background-III {
	background-image: url("../images/improviserBackgrounds/whiteInterlace.jpg");
	background-repeat: repeat-xy;
}

.key-III {
	background-color: #ff4081;
}

.keyAlt-III {
	background-color: #f50057;
}

.keyboardKey-III {
	background-color: #c51162;
}

.textColor-III {
	color: #f50057;
	text-shadow: 1px 1px lightgrey;
}

.soundLibrary-III {
	background-color: #f50057;
}

//------------------------------------------------------------//

.background-iv {
	background-image: url("../images/improviserBackgrounds/purpleStarSnow.jpg");
	background-repeat: repeat-xy;
}

.key-iv {
	background-color: #84ffff;
}

.keyAlt-iv {
	background-color: #00e5ff;
}

.keyboardKey-iv {
	background-color: #00b8d4;
}

.textColor-iv {
	color: #84ffff;
}

.soundLibrary-iv {
	background-color: #84ffff;
}

//------------------------------------------------------------//

.background-v {
	background-image: url("../images/improviserBackgrounds/duskStars.jpg");
	background-repeat: repeat-xy;
}

.key-v {
	background-color: #1de9b6;
}

.keyAlt-v {
	background-color: #00bfa5;
}

.keyboardKey-v {
	background-color: #00695c;
}

.textColor-v {
	color: #00bfa5;
	text-shadow: 1px 1px lightgrey;
}

.soundLibrary-v {
	background-color: #00bfa5;
}

//------------------------------------------------------------//

.background-VI {
	background-image: url("../images/improviserBackgrounds/pinkRectangleNoise.jpg");
	background-repeat: repeat-xy;
}

.key-VI {
	background-color: #ffd740;
}

.keyAlt-VI {
	background-color: #ffc400;
}

.keyboardKey-VI {
	background-color: #ffab00;
}

.textColor-VI {
	color: #ffc400;
	text-shadow: 1px 1px lightgrey;
}

.soundLibrary-VI {
	background-color: #ffc400;
}

//------------------------------------------------------------//
