<div>
	<h1>About</h1>
</div>

<div class="container">
	<h3>The Name</h3>
	<hr/>
		<p>> It's called Smörgåschord because it's a music theory app that's got a littl bit of everything. Yeah, I know I know. All of the both of my friends think it's brilliant.</p>
	<br/>

	<h3>Goals</h3>
	<hr/>
		<p>> To create a basic music theory app that allows users to study and manipulate chord patterns to improve their ear training.</p>
		<p>> Basic Goals: allow users to create, edit, save, and delete chord progressions (the "Chord Composer" tab).</p>
		<p>> Stretch Goals: create a basic template for lessons, quizes, and ear training. This template allows the app to be more geared towards education.</p>
		<p>> Other Fun Stuff Goals: eh, the Improviser tab is kind of fun and not exactly necessary.</p>
	<br/>

	<h3>Target Demographic</h3>
	<hr/>
		<p>> This would be aimed at late middle school band/orchestra students through first or second year music students. The "curriculum" is intended for beginners and "sort-of-intermediates" to develop better ears for chord progressions. Understanding these basics allows you to hear pop tunes and know how they're being played without having to touch an instrument first.</p>
		<p>> This is definitely not meant for any person who can identify a "second inversion Major IV add 6 flat 9" chord relatively easily. If you're at that point, chances are there really isn't any app that'd be good enough to sharpen your skills. This app just focuses on basic triads (and not even all of them, for that matter!) -- so looks like you're gonna have to listen to atonal jazz abulance crashes in the key of G flat-sharp all by your lonesome.</p>
	<br/>

	<h3>Hope you enjoy -- feedback definitely welcome!</h3>
	<hr/>
		<p>> mgt0117@gmail.com</p>
		<p>> 330-509-9668</p>
		<p>> 330-509-9668</p>
		<p>> github.com/mgteutsch/music-theory-capstone/</p>

</div>

      