<div ng-controller="ComposerCtrl">

	<h1>Chord Composer Page</h1>

	<h3>Chord Progression:</h3>
	<div>
		<input type="text" placeholder="1" ng-model="newProgression.chord1">
		<input type="text" placeholder="2" ng-model="newProgression.chord2">
		<input type="text" placeholder="3" ng-model="newProgression.chord3">
		<input type="text" placeholder="4" ng-model="newProgression.chord4">
	</div>
	<button type="button" class="btn btn-primary btn-sm" ng-click="addNewProgression()">Save Chord Progression</button>

	<hr/>
	<h3>Saved Chord Progressions</h3>
	<hr/>
	<div ng-repeat="chordProgression in chordProgressions">
		<div class="singleProgressionContainer" id="{{chordProgression.id}}">
			<input type="text" placeholder="{{chordProgression.chord1}}" disabled>
			<input type="text" placeholder="{{chordProgression.chord2}}" disabled>
			<input type="text" placeholder="{{chordProgression.chord3}}" disabled>
			<input type="text" placeholder="{{chordProgression.chord4}}" disabled>
			<button type="button" class="btn btn-danger btn-sm" ng-click="deleteProgression(chordProgression.id)">Delete</button>
		</div>
	</div>



</div>