<div>

	<h1>Chord Composer Page</h1>

	<h3>Chord Progression:</h3>
	<!-- <img src="http://i.imgur.com/KoDtOc7.gif" id="composerGIF"> -->
	<div>
		<input type="text" placeholder="1" class="newChordInput1" ng-model="newProgression.chord1">
		<input type="text" placeholder="2" class="newChordInput2" ng-model="newProgression.chord2">
		<input type="text" placeholder="3" class="newChordInput3" ng-model="newProgression.chord3">
		<input type="text" placeholder="4" class="newChordInput4" ng-model="newProgression.chord4">
		
		<button type="button" class="btn btn-success btn-sm" ng-hide="revealPlayOrPause" ng-click="playProgression(newProgression); glowBoxes(); playDisabler=true">Play</button>
		
		<button type="button" class="btn btn-sm" ng-hide="!revealPlayOrPause" ng-click="pauseProgression(newProgression); glowBoxesEnd(); playDisabler=false">Pause</button>
		
		<button type="button" class="btn btn-primary btn-sm" ng-disabled="playDisabler" ng-click="addNewProgression(newProgression); glowBoxes()">Save Chord Progression</button>

		<button type="button" class="btn btn-sm btn-danger" ng-disabled="playDisabler" ng-click="clearProgression(newProgression)">Clear Chord Progression</button>
	</div>

	<div ng-hide="errorMessage" ng-init="errorMessage=true">
			<p>Please enter valid chords in all 4 boxes.</p>
			<button type="button" class="btn btn-sm btn-warning" ng-click="errorMessage=true">OK</button>
	</div>
	
	<hr/>
	<h3>Saved Chord Progressions</h3>
	<hr/>
	<div ng-repeat="chordProgression in chordProgressions">
		<div class="singleProgressionContainer" id="{{chordProgression.id}}">
			<input type="text" ng-model="chordProgression.chord1" ng-disabled="editDisabler" ng-init="editDisabler=true">
			<input type="text" ng-model="chordProgression.chord2" ng-disabled="editDisabler" ng-init="editDisabler=true">
			<input type="text" ng-model="chordProgression.chord3" ng-disabled="editDisabler" ng-init="editDisabler=true">
			<input type="text" ng-model="chordProgression.chord4" ng-disabled="editDisabler" ng-init="editDisabler=true">
			
			<button type="button" class="btn btn-sm btn-primary" ng-disabled="playDisabler" ng-click="loadToPlayer(chordProgression)">Load to Player</button>

			<button type="button" class="btn btn-sm doneButton" ng-hide="!buttonHider" ng-click="editProgression(chordProgression)">Done</button>
			
			<button type="button" class="btn btn-sm" ng-hide="buttonHider" ng-click="editDisabler=false; buttonHider=true">Edit</button>
			
			<button type="button" class="btn btn-danger btn-sm" ng-click="deleteProgression(chordProgression.id)">Delete</button>
		</div>
	</div>

	<!--Audio Files preloaded so there is no delay in the timing of playProgression()-->
	<div ng-hide="true">
		<audio preload="auto">
			<source src="audio/composerChords/I.mp3">
			<source src="audio/composerChords/II.mp3">
			<source src="audio/composerChords/III.mp3">
			<source src="audio/composerChords/IV.mp3">
			<source src="audio/composerChords/V.mp3">
			<source src="audio/composerChords/VI.mp3">

			<source src="audio/composerChords/minor-i.mp3">
			<source src="audio/composerChords/minor-ii.mp3">
			<source src="audio/composerChords/minor-iii.mp3">
			<source src="audio/composerChords/minor-iv.mp3">
			<source src="audio/composerChords/minor-v.mp3">
			<source src="audio/composerChords/minor-vi.mp3">
			<source src="audio/composerChords/minor-vii.mp3">
		</audio>
	</div>

</div>