<!--Placeholder for stretch goals -->
	<!--
	<audio autobuffer autoloop loop controls>
		<source src="audio/composerChords/chord-minorvi.mp3">
		<object type="audio/mpeg" data="audio/composerChords/chord-minorvi.mp3" width="290" height="45">
			<param name="src" value="audio/composerChords/chord-minorvi.mp3">
			<param name="autoplay" value="false">
			<param name="autoStart" value="0">
		</object>
	</audio>
	-->

<!--	
			<audio ng-if="showChord" id="audio1" controls>
				<source src="audio/composerChords/{{newProgression.chord1}}.mp3" type="audio/mpeg">
			</audio>
			<br/>	

			<audio controls ng-if="showChord">	
				<source src="audio/composerChords/{{newProgression.chord2}}.mp3" type="audio/mpeg">
			</audio>
			<br/>

			<audio controls ng-if="showChord">
				<source src="audio/composerChords/{{newProgression.chord3}}.mp3" type="audio/mpeg">
			</audio>
			<br/>

			<audio controls ng-if="showChord">
				<source src="audio/composerChords/{{newProgression.chord4}}.mp3" type="audio/mpeg">
			</audio>
-->

<!--
<div ng-repeat="audioFile in audioFiles">
<audio ng-if="showChord" id="audio1" ng-model="audioFile" controls>
	
</audio>
</div>
-->