<div class="container">
<h1>Lessons</h1>
	<div class="collection">
		<a href="#/lessons" class="collection-item active"><i class="material-icons right">done</i>Introduction</a>
		<a href="#/lessons" class="collection-item active"><i class="material-icons right">done</i>Lesson 1: The I Chord (The "Major One")</a>
		<a href="#/lessons" class="collection-item active"><i class="material-icons right">done</i>Lesson 2: The IV Chord (The "Major Four)</a>
		<a href="#/lessons" class="collection-item">Lesson 3: The V Chord (The "Major Five")</a>
		<a href="#/lessons" class="collection-item">Lesson 4: The I, IV, and V Chords</a>
		<a href="#/lessons" class="collection-item">Lesson 5: The I, IV, and V Chords... without starting on the I</a>
		<a href="#/lessons" class="collection-item">Lesson 6: The vi Chord (The "minor six")</a>
		<a href="#/lessons" class="collection-item">Lesson 7: The I, IV, V, and vi Chords</a>
		<a href="#/lessons" class="collection-item">Lesson 8: The ii Chord (The "minor two")</a>
	</div>

</div>