<!-- All navbar <li> links come from the routes established in AppConfig.js -->

<nav ng-show="user">
  <div class="nav-wrapper pink accent-3">
    <a class="brand-logo left"><i class="material-icons">equalizer</i>Smörgåschord</a>
    <ul class="right">
      <li><a href="#/about" class="aboutNav">About</a></li>
      <li><a href="#/lessons" class="lessonsNav">Lessons</a></li>
      <li><a href="#/eartraining" class="eartrainingNav">Ear Training</a></li>
      <li><a href="#/chordcomposer" class="chordcomposerNav active" ng-click="tabActivator()">Chord Composer</a></li> 
      <li><a href="#/improviser" class="improviserNav">Improviser</a></li>
      <li><a href="#/logout">Logout</a></li> 
    </ul>
  </div>
</nav>