<div>
	<h1 class="white-text">Lessons</h1>
</div>

<div class="container white singleLessonContainer">

	<h3>Lesson 10: The minor ii Chord</h3>
	<hr/>

	<p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

	<p>Here is a random picture of music to make this look like a real lesson:</p>

	<hr/>
		<div class="center">
			<img id="chordScaleImage" src="/images/singleLessons/chordScale.png" alt="Oops, image didn't load">
		</div>
	<hr/>
	<br/>

	<p>But before we get into all of that, let's listen to a basic chord progression to get you familiar with the minor ii chord:</p>

	<!-- Simple B Major to C# Minor to introduce the basic structure -->
	<hr/>
	<div class="center">
		<div class="row center">

			<span class="col s1 offset-s4">
				<h6 class="center-align valign">B</h6>
			</span>

			<span class="col s1 offset-s2">
				<h6 class="center-align valign">C#m</h6>
			</span>

			<br/>

			<span id="ii_chordBox1" class="col s1 offset-s4 lessonChordBoxes">
				<h5 class="center-align valign">I</h5>
			</span>

			<span id="ii_chordBox2" class="col s1 offset-s2 lessonChordBoxes">
				<h5 class="center-align valign">ii</h5>
			</span>

		</div>	

		<br/>

		<!-- (1) First Audio Sample Section -->
		<!-- Not visible to user, listed here for organization purposes -->
		<audio id="ii_sample1" src="/audio/lessonsAudio/lessons-ii-audio/chordclip-I-ii.mp3" type="audio/mpeg" preload="auto"></audio>
		<!-- Buttons below are for the user -->

		<div class="row center">	
			<a id="ii_sample1_playButton" class="waves-effect waves-light btn" ng-hide="ii_sample1_revealPlayOrPause" ng-click="ii_sample1_START()"><i class="material-icons left">play_arrow</i>Play</a>
			
			<a id="ii_sample1_pauseButton" class="waves-effect waves-light btn" ng-hide="!ii_sample1_revealPlayOrPause" ng-click="ii_sample1_END(); ii_sample1_glowSTOP()"><i class="material-icons left">pause</i>Pause</a>
		</div>
		<!-- End Audio Sample Section -->
	</div>
	<hr/>

	<br/>
<!-- ***************************************************************************************** -->
<!-- ***************************************************************************************** -->
	<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p> 
	<p>It's useful to hear how these chords work together in "real" songs, so here's a song example using the I-ii-I-ii pattern above: </p>
	
	<hr/>
		<div class="center">
			<h4>"Valerie" || Amy Winehouse</h4>
			<hr/>
			<h5>Key of E Major</h5>
		</div>
	<hr/>

	<div class="center">
		<div class="row center">

			<span class="col s2 offset-s3">
				<h6 class="center-align valign">Wait...</h6>
			</span>

			<span class="col s1 offset-s1">
				<h6 class="center-align valign">E</h6>
			</span>

			<span class="col s1 offset-s1">
				<h6 class="center-align valign">F#m</h6>
			</span>

			<br/>

			<span id="ii_chordBox3" class="col s2 offset-s3 lessonIntroBoxes teal-text">
				<h5 class="center-align valign">Intro</h5>
			</span>

			<span id="ii_chordBox4" class="col s1 offset-s1 lessonChordBoxes">
				<h5 class="center-align valign">I</h5>
			</span>

			<span id="ii_chordBox5" class="col s1 offset-s1 lessonChordBoxes">
				<h5 class="center-align valign">ii</h5>
			</span>

		</div>	

		<br/>

		<!-- (2) Valerie Audio Sample Section -->
		<!-- Not visible to user, listed here for organization purposes -->
		<audio id="ii_sample2" src="/audio/lessonsAudio/lessons-ii-audio/valerie-verse.mp3" type="audio/mpeg" preload="auto"></audio>
		<!-- Buttons below are for the user -->

		<div class="row center">	
			<a id="ii_sample2_playButton" class="waves-effect waves-light btn" ng-hide="ii_sample2_revealPlayOrPause" ng-click="ii_sample2_START()"><i class="material-icons left">play_arrow</i>Play</a>
			
			<a id="ii_sample2_pauseButton" class="waves-effect waves-light btn" ng-hide="!ii_sample2_revealPlayOrPause" ng-click="ii_sample2_END(); ii_sample2_glowSTOP()"><i class="material-icons left">pause</i>Pause</a>
		</div>
		<!-- End Audio Sample Section -->
	</div>
	<hr/>

	<br/>
<!-- ***************************************************************************************** -->
<!-- ***************************************************************************************** -->
	<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p> 
	<p>Now let's try listening to chord patterns that begin with the minor ii chord. Use the "Clarify Progression" sections to minimize the song's audio file volume and instead boost the volume of the basic chord patterns.</p>

	<hr/>
		<div class="center">
			<h4>"Sunday Morning" || Maroon 5</h4>
			<hr/>
			<h5>Key of C Major</h5>
		</div>
	<hr/>

	<div class="center">
		<div class="row center">
			
			<span class="col s6">
				<h5 class="center-align blue-grey-text">Original Song</h5>
				<hr/>
			</span>
			<span class="col s6">
				<h5 class="center-align pink-text">Clarify Progression</h5>
				<hr/>
			</span>	

			</br> <!-- *******************************************************-->

			<!-- Oringal Song -->
			<span class="col s1 offset-s1">
				<h6 class="center-align valign">Wait...</h6>
			</span>

			<span class="col s1">
				<h6 class="center-align valign">Dm</h6>
			</span>

			<span class="col s1">
				<h6 class="center-align valign">G</h6>
			</span>

			<span class="col s1">
				<h6 class="center-align valign">C</h6>
			</span>

			<!-- Clarify Progression -->
			<span class="col s1 offset-s2">
				<h6 class="center-align valign">Wait...</h6>
			</span>

			<span class="col s1">
				<h6 class="center-align valign">Dm</h6>
			</span>

			<span class="col s1">
				<h6 class="center-align valign">G</h6>
			</span>

			<span class="col s1">
				<h6 class="center-align valign">C</h6>
			</span>

			<span class="col s1">
				<h6 class="center-align valign white-text">Blank</h6>
			</span>

			<br/> <!-- *******************************************************-->

			<!-- Oringal Song -->
			<span id="ii_chordBox6" class="col s1 offset-s1 lessonIntroBoxes teal-text">
				<h5 class="center-align valign">Intro</h5>
			</span>

			<span id="ii_chordBox7" class="col s1 lessonChordBoxes">
				<h5 class="center-align valign">ii</h5>
			</span>

			<span id="ii_chordBox8" class="col s1 lessonChordBoxes">
				<h5 class="center-align valign">V</h5>
			</span>

			<span id="ii_chordBox9" class="col s1 lessonChordBoxes">
				<h5 class="center-align valign">I</h5>
			</span>

			<!-- Clarify Progression -->
			<span id="ii_chordBox10" class="col s1 offset-s2 lessonIntroBoxes teal-text">
				<h5 class="center-align valign">Intro</h5>
			</span>

			<span id="ii_chordBox11" class="col s1 lessonChordBoxes">
				<h5 class="center-align valign">ii</h5>
			</span>

			<span id="ii_chordBox12" class="col s1 lessonChordBoxes">
				<h5 class="center-align valign">V</h5>
			</span>

			<span id="ii_chordBox13" class="col s1 lessonChordBoxes">
				<h5 class="center-align valign">I</h5>
			</span>

		</div>	

		<br/>

		<!-- (3) Sunday Morning Audio Sample Section -->
		<span class="row">
			<!-- Oringal Song -->
			<span class="col s6">
				<!-- Not visible to user, listed here for organization purposes -->
				<audio id="ii_sample3" src="/audio/lessonsAudio/lessons-ii-audio/sundaymorning-verse.mp3" type="audio/mpeg" preload="auto"></audio>
				<!-- Buttons below are for the user -->

				<div class="row center">	
					<a id="ii_sample3_playButton" class="waves-effect waves-light btn" ng-hide="ii_sample3_revealPlayOrPause" ng-click="ii_sample3_START()"><i class="material-icons left">play_arrow</i>Play</a>
					
					<a id="ii_sample3_pauseButton" class="waves-effect waves-light btn" ng-hide="!ii_sample3_revealPlayOrPause" ng-click="ii_sample3_END(); ii_sample3_glowSTOP()"><i class="material-icons left">pause</i>Pause</a>
				</div>
			</span>

			<!-- Clarify Progression -->
			<span class="col s6">
				<!-- Not visible to user, listed here for organization purposes -->
				<audio id="ii_sample4" src="/audio/lessonsAudio/lessons-ii-audio/sundaymorning-verse-chordsAssist.mp3" type="audio/mpeg" preload="auto"></audio>
				<!-- Buttons below are for the user -->

				<div class="row center">	
					<a id="ii_sample4_playButton" class="waves-effect waves-light btn" ng-hide="ii_sample4_revealPlayOrPause" ng-click="ii_sample4_START()"><i class="material-icons left">play_arrow</i>Play</a>
					
					<a id="ii_sample4_pauseButton" class="waves-effect waves-light btn" ng-hide="!ii_sample4_revealPlayOrPause" ng-click="ii_sample4_END(); ii_sample4_glowSTOP()"><i class="material-icons left">pause</i>Pause</a>
				</div>
			</span>
		</span>	
		<!-- End Audio Sample Section -->
	</div>
	<hr/>

	<br/>
<!-- ***************************************************************************************** -->
<!-- ***************************************************************************************** -->	

	<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p> 
	<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
	<p>Alright, so if you feel ready, go ahead and try out the quiz below. You can have extra practice in the Ear Training and Chord Composer sections as well!</p>

	<hr/>

<!-- QUIZ SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<hr/>
	<div class="center">
		<h4>Quiz Time!</h4>
		<hr/>
		<h5>Enter what you hear in the spaces below.</h5>
	</div>
	<hr/>
	<hr/>

	<div>
		<ul id="quizSection" class="collapsible" data-collapsible="accordion">
			<li>
				<div id="quizLabel" class="collapsible-header waves-effect waves-light pink accent-3"><i class="material-icons">offline_pin</i>Let's do this!</div>
				<div id="quizBox" class="collapsible-body">
					<p>						
						<audio id="ii_quiz" src="/audio/lessonsAudio/lessons-ii-audio/feist-outro.mp3" type="audio/mpeg" preload="auto"></audio>
						
						<div>
							<div class="row input-field">
								<a class="col s1"></a>
								<input type="text" id="quiz1" placeholder="?" class="quizInput1 col s1 black-text" ng-model="quiz.chord1">
								<a class="col s2"></a>
								<input type="text" id="quiz2" placeholder="?" class="quizInput2 col s1 black-text" ng-model="quiz.chord2">
								<a class="col s2"></a>
								<input type="text" id="quiz3" placeholder="?" class="quizInput3 col s1 black-text" ng-model="quiz.chord3">
								<a class="col s2"></a>
								<input type="text" id="quiz4" placeholder="?" class="quizInput4 col s1 black-text" ng-model="quiz.chord4">
							</div>

							<div class="row center">
								<a id="quizPlayButton" class="waves-effect waves-teal btn-flat white" ng-hide="quizPlayOrPause" ng-click="quizPlayOrPause=true; quizPlay()"><i class="material-icons left">play_arrow</i>Play</a>
									
								<a id="quizPauseButton" class="waves-effect waves-teal btn-flat white" ng-hide="!quizPlayOrPause" ng-click="quizPlayOrPause=false; quizPause(); quiz_glowSTOP()"><i class="material-icons left">pause</i>Pause</a>

								<a id="quizAnswerButton" class="waves-effect waves-teal btn-flat white" ng-click="checkQuizAnswer(quiz)"><i class="material-icons left">done</i>Check Answer</a>

								<a href="" id="quizNextButton" class="waves-teal btn-flat white" ng-click="nextQuizSong(quiz)"><i class="material-icons left">input</i>Next Song</a>
							</div>
						</div>


						<ul class="pagination center">
							<li class="waves-effect"><a href=""><i class="material-icons">chevron_left</i></a></li>
							<li class="active"><a href="">1</a></li>
							<li class="waves-effect"><a href="">2</a></li>
							<li class="waves-effect"><a href="">3</a></li>
							<li class="waves-effect"><a href="">4</a></li>
							<li class="waves-effect"><a href="">5</a></li>
							<li class="waves-effect"><a href=""><i class="material-icons">chevron_right</i></a></li>
						</ul>

					</p>	
				</div>
			</li>
		</ul>    


	</div>		


</div>
