<div>
	<h1 class="white-text">Lessons</h1>
</div>

<div class="container white singleLessonContainer">

	<h3>Lesson 10: The minor ii Chord</h3>
	<hr/>

	<p class="flow-text condensed">
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

		Let's have a listen: 
	</p>


	<!-- Simple B Major to C# Minor to introduce the basic structure -->
	<div class="center">
		<div class="row center">

			<span class="col s1 offset-s4">
				<h6 class="center-align valign">B</h6>
			</span>

			<span class="col s1 offset-s2">
				<h6 class="center-align valign">C#m</h6>
			</span>

			<br/>

			<span id="ii_chordBox1" class="col s1 offset-s4 lessonChordBoxes">
				<h5 class="center-align valign">I</h5>
			</span>

			<span id="ii_chordBox2" class="col s1 offset-s2 lessonChordBoxes">
				<h5 class="center-align valign">ii</h5>
			</span>

		</div>	

		<br/>

		<!-- (1) First Audio Sample Section -->
		<!-- Not visible to user, listed here for organization purposes -->
		<audio id="ii_sample1" src="/audio/lessonsAudio/lessons-ii-audio/chordclip-I-ii.mp3" type="audio/mpeg" preload="auto"></audio>
		<!-- Buttons below are for the user -->

		<div class="row center">	
			<a id="playButton" class="waves-effect waves-light btn" ng-hide="ii_revealPlayOrPause_1" ng-click="ii_sample1_START(); ii_sample1_STARTGlowBox()"><i class="material-icons left">play_arrow</i>Play</a>
			
			<a id="pauseButton" class="waves-effect waves-light btn" ng-hide="!ii_revealPlayOrPause_1" ng-click="ii_sample1_END(); ii_sample1_ENDGlowBox()"><i class="material-icons left">pause</i>Pause</a>
		</div>
		<!-- End Audio Sample Section -->




	</div>




</div>
