h1 {
  color: blue; }

#composerGIF {
  height: 300px;
  width: 600px;
  border: 2px solid grey;
  box-shadow: 5px 5px 5px lightgrey; }

.centerButtons {
  text-align: center; }

/**************************************************************/
/*Glowing Boxes around Users New Chords */
/**************************************************************/
.newChordInput1, .newChordInput2, .newChordInput3, .newChordInput4 {
  box-shadow: none;
  background-color: none; }

.glowBox {
  box-shadow: 0 0 20px yellow;
  background-color: lightyellow; }
